* {
  margin: 0px;
  padding: 0px;
}

.App {
  width: auto;
  height: 100vh;
  background-color: yellow;
}

.heading {
  width: auto;
  height: 20vh;
  background-color: rgb(190, 158, 49);
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.heading h1 {
  align-content: center;
  padding-top: 20px;
}
